.navbar {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 100vw;
}

.liveinport_box {
    min-width: 80%;
    min-height: 10vh;
}

.navbar_corner {
    min-width: 20%;
    min-height: 5vh;
    display: grid;
    color: white;
}

.navbar_conrner__links {
    font-size: 10px;
    text-align: right;
}